:root {
    --purple: #d593ff;
    --offwhite: #ebebeb;
    --peach: #e4a2a2;
    --darkblue: #100721; 
    /* 181139 */
    --grey: #dce1e5;
  }

 
.Hero{
    height:100vh;
    width: 100%;
    background-image:
    linear-gradient(to bottom right, #100721 ,#e4a2a294),
   url('../../assets/image.png');
    background-size: cover;
    background-position: center;

}

.heroTextContainer {
    position: absolute;
    top:40%;
    left: 35%;
    min-width: 40%;
    max-width:45%;
    transform: translate(-50%,-50%);
    text-align: left;
}

.heroTitle {
    background: linear-gradient(90deg, var(--purple),var(--peach));
    font-size: 40px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0;
    margin: 0;
}

.heroText{
    color: var(--grey);
    font-weight: 400;
    font-size: 17px;
}

.fade-in{
    animation: fadein 8s;
    -webkit-animation: fadein 8s;
  -moz-animation: fadein 8s;
  -o-animation: fadein 8s;
  -ms-animation: fadein 8s;
}

.animation{
    position: absolute;
    top:60%;
    left: 80%;
    min-width: 40%;
    transform: translate(-50%,-50%);
    text-align: left;

}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

  /* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media screen and (max-width: 1000px) {
    .heroTextContainer{
       min-width: 80%;
       text-align: center;
       left:50%;
       top:50%;

    }
    .heroTitle{
       font-size: 30px;
    }
    .heroText{
        font-size: 17px;
        margin-top: 20px;
    }
 }