.ProjectsPage{
    min-height:100vh;
    width: 100%;
    /* background: linear-gradient(to bottom right, #e4a2a28b,var(--darkblue)); */
    background-color: var(--offwhite);
    display: flex;
    justify-content: space-evenly;
    /* align-content: center; */
    align-items: center;
    flex-wrap: wrap;
    padding: 40px;
}

.ProjectsPage hr{
    width: 200px;
    border: none;
    background: linear-gradient(90deg, var(--purple),var(--peach));
    height: 2px;
}

a{
    text-decoration: none;
}

.projectTitle {
    background: linear-gradient(90deg, var(--peach),var(--purple));
    font-size: 40px;
    position: relative;
    margin-bottom: 40px;
    /* top:-100%;
    left: 100%;
    min-width: 40%;
    transform: translate(-50%,-50%); */
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* padding: 0;
    margin: 0; */
}



.ProjectsPage p{
    color: var(--darkblue);
    background-color: --var(--peach);
}



