.Skill{
    color: var(--offwhite);
    border: solid 1px var(--offwhite);
    width: 400px;
    height: 200px;
    border-radius: 5px;
    margin: 15px;
    background-color: #18113948;
}

.skillText{
margin-top: -25px;
 display: flex;
 align-items: center;
 flex-flow: column;
}

.Skill hr{
    width: 80px;
    border: none;
    background: linear-gradient(90deg, var(--purple),var(--peach));
    height: 2px;
    margin-top: -2px;
}
.Skill img{
    height: 50px;
    width: 50px;
    position: relative;
    top: -10%;
    right: -50%;
}

.Javascript{
    background: linear-gradient(to bottom left, rgba(255, 242, 0, 0.2), rgba(255, 255, 255, 0));
}

.React{
    background: linear-gradient(to bottom left, rgba(0, 187, 255, 0.2), rgba(255, 255, 255, 0));
}

.Node{
    background: linear-gradient(to bottom left, rgba(17, 255, 0, 0.2), rgba(255, 255, 255, 0));
}

.GraphQl{
    background: linear-gradient(to bottom left, rgba(255, 0, 144, 0.2), rgba(255, 255, 255, 0));
}

.MongoDb{
    background: linear-gradient(to bottom left,rgba(17, 255, 0, 0.2), rgba(255, 255, 255, 0));
}

.Python{
    background: linear-gradient(to bottom left, rgba(255, 242, 0, 0.2), rgba(255, 255, 255, 0));
}